body {
    background-color: cornflowerblue;
    margin: auto; 
    display: grid;
}

#container {
    width: 1024px;
    height: 774px;
    background-color: crimson;
    margin: auto;
    color: white;
    font-family: 'Anton';
    font-size: 30px;
    text-align: center;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 50% 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    grid-area: container;
}
#content {
    height: 387px;
    width: 1024px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 50% 50%;
    grid-row: 2;
    justify-content: space-between;

}
h1 {
    display: grid;
    margin: 20px;
    padding: 10px;
    grid-column: 1/4;
    font-size: 100px;
    justify-content: stretch;
    align-items: center;
}
h2 {
    font-size: 30px;
    /* grid-area: main; */
}
p {
    font-size: 20px;
}
#orange {
    width: 130px;
    height: 0px;
    border: 12px purple solid;
    justify-content: center;
}
#blue {
    width: 130px;
    height: 0px;
    border: 12px blue solid;
    justify-content: center;
}
#teal {
    width: 130px;
    height: 0px;
    border: 12px teal solid; 
    justify-content: center;
}

@media (max-width: 1024px) {
    body {
        background-color: yellow;
    }
    .content {
        display: grid;
        grid-row: 2;
        grid-template-columns: 30% 30% 30%;
        align-items: space-between;
    }

@media (max-width: 414px) {
    body {
        background-color: crimson;
        margin-top: 0em;
        padding-top: 0px;
        display: grid
    }
#container {
    width: 414px;
    /* min-width: 414px; */
    height: auto;
    background-color:teal;
    margin: auto;
    color: white;
    font-family: 'Anton';
    font-size: 30px;
    text-align: center;
    align-content: center;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    grid-area: container;
}  
#content {
    max-width: 414px;
    height: 975px;
    margin-bottom: 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    word-wrap: normal;
    background-color: crimson;
} 
h1 {
    display: flex;
    margin: 20px;
    padding: 10px;
    font-size: 30px;
    justify-content: center;
    /* word-wrap: break-word; */
    /* background-color: teal; */
    }
}