body {
    background-color: rgb(27, 14, 110);
}
body {
    width: 850px;
    height: 324px;
    margin: auto;
}

main {
    width: 850px;
    height: 450px;
    border: 1px blue solid;
    background-image: url("NASA image2.jpg");
    background-size: cover ;
    color: white;
    font-family: 'Anton';
    font-size: xx-large;
    text-align: center;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}
section {
    display: flex;
    margin: 0 auto;
    height: 324px;
    flex-direction: row;
    justify-content: space-between;
}
#content {
    width: 850px;
    height: 324px;
    border: black;
    background-color: lightgrey;
    font-size: initial;
}
article { 
    width: 270px;
    height: 374px;
    background-color: lightgray;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Roboto';
}
h1 {
    align-items: center;
}
h2 {
    font-size: 25px;
}
#message-entry {
    font: Arial;
    flex-direction: column;
    align-content: flex-start;
    width: 90%;
    vertical-align: top;
}  

#send-button {
    background-color: lavender;
    border: black;
    height: 20px;
    width: 20px;
    align-content: flex-start;
}
